@media only screen and (min-width: 38rem) {
  NavHamburgerBtn {
    width: 4%;
  }

  #NavOpenBtn {
    display: none;
  }

  ul,
  ul.open {
    display: flex;
    padding-top: 1.5rem;
  }

  nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  #stockContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
  }

  /* .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .flex-container .card {
    width: 250px;
  } */
}
